n8n/devin-scoping-pipeline.json
{
  "name": "Devin Scoping Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "devin-scope",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "devin-scope"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, sessionId: $('Webhook Trigger').item.json.body.sessionId }) }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 160]
    },
    {
      "parameters": {
        "jsCode": "// Store webhook data for the polling loop\nconst input = $('Webhook Trigger').item.json.body;\nreturn [{\n  json: {\n    sessionId: input.sessionId,\n    issueNumber: input.issueNumber,\n    repo: input.repo,\n    callbackUrl: input.callbackUrl,\n    secret: input.secret,\n    pollCount: 0,\n    maxPolls: 20\n  }\n}];"
      },
      "id": "init-poll-state",
      "name": "Init Poll State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.devin.ai/v1/sessions/{{ $json.sessionId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "poll-devin",
      "name": "Poll Devin Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DEVIN_API_CRED_ID",
          "name": "Devin API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $input.first().json;\nconst prev = $('Init Poll State').first().json;\n\nconst statusEnum = session.status_enum || '';\nconst isTerminal = ['finished', 'stopped', 'expired'].includes(statusEnum);\nconst hasStructuredOutput = session.structured_output != null;\n\n// Get last devin_message\nlet lastMessage = '';\nif (session.messages && Array.isArray(session.messages)) {\n  for (let i = session.messages.length - 1; i >= 0; i--) {\n    const msg = session.messages[i];\n    if (!msg.type || msg.type === 'devin_message') {\n      lastMessage = msg.message || msg.content || '';\n      if (lastMessage) break;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...prev,\n    statusEnum,\n    isTerminal,\n    hasStructuredOutput,\n    structuredOutput: session.structured_output || null,\n    lastMessage,\n    pollCount: (prev.pollCount || 0) + 1\n  }\n}];"
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "terminal-check",
              "leftValue": "={{ $json.isTerminal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "is-terminal",
      "name": "Is Terminal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "wait-15s",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-output",
              "leftValue": "={{ $json.hasStructuredOutput }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "has-structured-output",
      "name": "Has Structured Output?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Devin already provided structured_output — pass it through directly\nconst data = $input.first().json;\nreturn [{\n  json: {\n    sessionId: data.sessionId,\n    callbackUrl: data.callbackUrl,\n    secret: data.secret,\n    structuredOutput: data.structuredOutput,\n    source: 'devin_structured_output'\n  }\n}];"
      },
      "id": "use-direct-output",
      "name": "Use Direct Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-message",
              "leftValue": "={{ $json.lastMessage.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "has-message",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"tools\": [{\n    \"name\": \"extract_scoping_result\",\n    \"description\": \"Extract scoping analysis fields from a Devin AI message into structured JSON\",\n    \"input_schema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"confidence\": { \"type\": \"string\", \"enum\": [\"green\", \"yellow\", \"red\"], \"description\": \"Confidence level that the issue can be fixed\" },\n        \"confidence_reason\": { \"type\": \"string\", \"description\": \"Why this confidence level was chosen\" },\n        \"current_behavior\": { \"type\": \"string\", \"description\": \"What is currently happening (the bug or issue)\" },\n        \"requested_fix\": { \"type\": \"string\", \"description\": \"What change is being requested\" },\n        \"files_to_modify\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"File paths that need changes\" },\n        \"tests_needed\": { \"type\": \"string\", \"description\": \"What tests should be added or updated\" },\n        \"action_plan\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"Step-by-step plan to fix the issue\" },\n        \"risks\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"Potential risks of the fix\" },\n        \"open_questions\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"Unresolved questions about the issue\" }\n      },\n      \"required\": [\"confidence\", \"confidence_reason\", \"current_behavior\", \"requested_fix\", \"files_to_modify\", \"tests_needed\", \"action_plan\", \"risks\", \"open_questions\"]\n    }\n  }],\n  \"tool_choice\": { \"type\": \"tool\", \"name\": \"extract_scoping_result\" },\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Extract the scoping analysis from this Devin AI message. If a field is not mentioned, use a reasonable default (empty string or empty array).\\n\\n\" + {{ JSON.stringify($json.lastMessage) }}\n  }]\n}",
        "options": {}
      },
      "id": "call-claude",
      "name": "Claude Extract (Tool Use)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_API_CRED_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prev = $('Has Message?').first().json;\n\n// Extract the tool_use block from Claude's response\nlet structuredOutput = null;\nlet source = 'claude_extraction';\n\nif (response.content && Array.isArray(response.content)) {\n  const toolUse = response.content.find(block => block.type === 'tool_use');\n  if (toolUse && toolUse.input) {\n    structuredOutput = toolUse.input;\n  }\n}\n\nif (!structuredOutput) {\n  source = 'claude_extraction_failed';\n  structuredOutput = { confidence: 'yellow', confidence_reason: 'Claude extraction failed' };\n}\n\nreturn [{\n  json: {\n    sessionId: prev.sessionId,\n    callbackUrl: prev.callbackUrl,\n    secret: prev.secret,\n    structuredOutput,\n    source\n  }\n}];"
      },
      "id": "parse-claude-response",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sessionId\": {{ JSON.stringify($json.sessionId) }},\n  \"secret\": {{ JSON.stringify($json.secret) }},\n  \"structuredOutput\": {{ JSON.stringify($json.structuredOutput) }}\n}",
        "options": {}
      },
      "id": "callback-nextjs",
      "name": "Callback to Next.js",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "jsCode": "// No message found — send a minimal fallback\nconst data = $input.first().json;\nreturn [{\n  json: {\n    sessionId: data.sessionId,\n    callbackUrl: data.callbackUrl,\n    secret: data.secret,\n    structuredOutput: {\n      confidence: 'yellow',\n      confidence_reason: 'No analysis message found from Devin',\n      current_behavior: '',\n      requested_fix: '',\n      files_to_modify: [],\n      tests_needed: '',\n      action_plan: [],\n      risks: [],\n      open_questions: ['Devin did not produce an analysis message']\n    },\n    source: 'no_message_fallback'\n  }\n}];"
      },
      "id": "no-message-fallback",
      "name": "No Message Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 560]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "max-polls",
              "leftValue": "={{ $json.pollCount >= $json.maxPolls }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "max-polls-check",
      "name": "Max Polls Reached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "jsCode": "// Timeout — session didn't complete within max polls\nconst data = $input.first().json;\nreturn [{\n  json: {\n    sessionId: data.sessionId,\n    callbackUrl: data.callbackUrl,\n    secret: data.secret,\n    structuredOutput: {\n      confidence: 'red',\n      confidence_reason: 'Scoping session timed out (did not complete within polling limit)',\n      current_behavior: '',\n      requested_fix: '',\n      files_to_modify: [],\n      tests_needed: '',\n      action_plan: [],\n      risks: ['Session may still be running on Devin'],\n      open_questions: ['Session did not reach terminal state']\n    },\n    source: 'poll_timeout'\n  }\n}];"
      },
      "id": "timeout-fallback",
      "name": "Timeout Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 680]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 },
          { "node": "Init Poll State", "type": "main", "index": 0 }
        ]
      ]
    },
    "Init Poll State": {
      "main": [
        [
          { "node": "Poll Devin Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Poll Devin Status": {
      "main": [
        [
          { "node": "Check Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          { "node": "Is Terminal?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Terminal?": {
      "main": [
        [
          { "node": "Has Structured Output?", "type": "main", "index": 0 }
        ],
        [
          { "node": "Wait 15s", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          { "node": "Max Polls Reached?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Max Polls Reached?": {
      "main": [
        [
          { "node": "Timeout Fallback", "type": "main", "index": 0 }
        ],
        [
          { "node": "Poll Devin Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Timeout Fallback": {
      "main": [
        [
          { "node": "Callback to Next.js", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Structured Output?": {
      "main": [
        [
          { "node": "Use Direct Output", "type": "main", "index": 0 }
        ],
        [
          { "node": "Has Message?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Use Direct Output": {
      "main": [
        [
          { "node": "Callback to Next.js", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          { "node": "Claude Extract (Tool Use)", "type": "main", "index": 0 }
        ],
        [
          { "node": "No Message Fallback", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude Extract (Tool Use)": {
      "main": [
        [
          { "node": "Parse Claude Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          { "node": "Callback to Next.js", "type": "main", "index": 0 }
        ]
      ]
    },
    "No Message Fallback": {
      "main": [
        [
          { "node": "Callback to Next.js", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "",
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "devin",
      "id": "1"
    }
  ]
}
